* {
  box-sizing: border-box;
  scrollbar-width: thin;
}

:root {
  --yellow:#EED75F;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #050505;
  color: #fff;
  font-size: .9rem;
  letter-spacing: 0.6px;
  font-family: Arial, Helvetica, sans-serif;
}

#app-container {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

section {
  width: calc(100% - 250px);
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

aside {
  width: 250px;
  height: 100%;
  background-color: rgb(44, 44, 44);
  overflow: hidden;
  
  box-shadow: 0 1px 10px #34383c0f, 0 2px 4px #34383c14;
}

aside .list-tv {
  height: 300px;
}

button,
input,
select {
  padding: 12px;
  outline: none;
  border: 0;
}

option,optgroup {background-color: #181818; color: #fff;}

button {
  background-color: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: center;  
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity .25s;
}

button:hover { opacity: 0.8; }

ul {margin: 0; padding: 0; list-style: none;}
li { padding: 10px 15px; transition: background-color .25s; text-transform: capitalize; border-bottom: 1px solid #181818; }
li:hover { background-color: #ffffff33;}

pre { background-color: #181818; padding: 10px; }

.active { color: var(--yellow); font-weight: 600; }

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.flex-column {flex-direction: column;}

.align-center {align-items: center;}
.justify-between {justify-content: space-between;}

.grid-2-1 {
  display: grid;
  grid-template-columns: 75% 22%;
  justify-content: space-between;
  gap: 20px;
}

.w-100 {
  width: 100%;
}

.h-100 {
  min-height: 100%;
}

.br7 {
  border-radius: 7px;
}

.border-0 {border: 0;}

.mr-2 { margin-right: 20px; }
.mb-2 { margin-bottom: 20px; }
.ml-2 {margin-left: 20px;}
.ml-1 {margin-left: 10px;}
.mt-1 {margin-top: 10px;}
.mb-1 {margin-bottom: 10px;}
.py-1 {padding: 10px 0;}
.p-0 {padding: 0;}
.m-0 {margin: 0;}
.mb-0 {margin-bottom: 0;}
.mt-0 {margin-top: 0;}

.cp {cursor: pointer;}

.uppercase {text-transform: uppercase;}
.center {text-align: center;}
.truncate {
  width: 75%;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.text-left {text-align: left;}

.bg-blue {background-color: #3f51b5;}
.bg-yellow {background-color: var(--yellow);}
.bg-light {background-color: #181818;}
.bg-gray {background-color: #ffffff1f;}
.bg-inherit {background-color: inherit; color: inherit; border: 0;}

.white {color: #fff !important;}
.yellow {color: var(--yellow);}

.overflow {overflow: auto;}

.blur {backdrop-filter: blur(2px);}

/**********************************************/
.modal {
  max-width: 90%;
  max-height: 90%;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.modal>div {
  width: auto;
  max-width: 450px;
  background-color: #585858;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #747474;
  box-shadow: 0 1px 10px #34383c0f, 0 2px 4px #34383c14;
}

.modal>button {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: inherit;
  color: #fff;
  border: 0;
  padding: 0;
}
/********************************************/
.video-container {  
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 80%;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  align-items: center;
}

.video-container div { visibility: hidden; }
.video-container * {padding: 0; border: 0; font-size: 12px;}
video { box-shadow: 0 1px 10px #34383c0f, 0 2px 4px #34383c14; }
.video-container:hover div { visibility: visible; }

/********************************************/
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: #585858;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: inherit;
}